.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: center;
}
.fields {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.input {
  display: flex;
}
.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
}
.inputField {
  display: flex;
}
