.task{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid;
    border-radius: 6px;
    margin: 20px;
}
.content{
    padding: 20px;
    background-color:  #FFFEFC;
}
.textEmail{
    display: flex;
    justify-content: center;
}
.coorentEmail{
    font-size: large;
}